<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cookies!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="/static/index.js"></script>
    <script>
        $(document).ready(function () {
            if(Cookies.get('user') == null){
                $("#cookieShow").text("No Cookie Found :(");
            } else {
                $("#cookieShow").text(Cookies.get('user'));
            }
            if(Cookies.get('userID') == null){
                $("#cookieShowPython").text("No Cookie Found from Web Server :(");
            } else {
                $("#cookieShowPython").text(Cookies.get('userID'));
            }
            
            $("#addCookie").click(() => {
                var cookie = Cookies.get('user');
                console.log("user cookie is: " + cookie);
                Cookies.set('user', $("#userID").val());
                $("#cookieShow").text(Cookies.get('user'));
            });
            $("#delCookie").click(() => {
                var cookie = Cookies.get('user');
                console.log("user cookie is: " + cookie);
                Cookies.remove("user")
                $("#cookieShow").text("");
            });


        });
    </script>
</head>
<body>
    <div id="top">
        <h1>Hello world!</h1>
        {%for key, value in links.items()%}
            <a href="{{value}}">{{key}}</a>
        {%endfor%}
    </div>

    <div id="javascriptCookieThings">
        <h3 id="cookieShow"></h3>
        <input type="text" id="userID" placeholder="Enter User ID"/>
        <input type="button" id="addCookie" value="Add a Cookie!" />
        <input type="button" id="delCookie" value="Remove Cookie!" />
    </div>

    <div id="pythonCookieThings">
        <form method="post">
            <h3 id="cookieShowPython"></h3>
            <input type="text" name="cookieVal" id="userID" placeholder="Enter User ID"/>
            <input type="submit" id="addCookie" value="Add a Cookie!" />
        </form>
        <a href="/delcookie">Delete Cookie</a>
        
    </div>

</body>
</html>
