<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Factorial</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/index.js"></script>

    <script>
        
        function average(){
            axios.get(`/avg`, {
                params: {
                x: $("#num1").val(),
                y: $("#num2").val()
            }})
            .then((data) => {
                $("#result2").html(data);
            }).catch(error => {
                $("#result2").html(error);
            })
        }
    </script>
</head>
<body>
    <div id="top">
        <h1>Factorial</h1>
        {%for key, value in links.items()%}
            <a href="{{value}}">{{key}}</a>
        {%endfor%}
    </div>
    <div>
        <input type="number" id="num"/>
        <input type="button" onclick="fact()" value="Calculate Factorial" />
    </div>
    <h2 id="result">Result will show here after submitting</h2>
    
    <br />
    <div>
        <input type="number" id="num1"/>
        <input type="number" id="num2"/>
        <input type="button" onclick="average()" value="Calcualte Average" />
    </div>

    <h2 id="result2">Result will show here after submitting</h2>

</body>
</html>
