<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Portfolio!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="/static/index.js"></script>

</head>
<body>
    <div id="top">
        <h1>Hello world!</h1>
        {%for key, value in links.items()%}
            <a href="{{value}}">{{key}}</a>
        {%endfor%}
    </div>
    <div style="text-align: center;">
        <h3>Hello! This is the index page of my website!</h3>
    </div>
</body>
</html>
