<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/index.js"></script>
</head>
<body>
    <div id="top">
        <h1>Login</h1>
        <!-- {%for key, value in links.items()%}
            <a href="{{value}}">{{key}}</a>
        {%endfor%} -->
    </div>
    <div class="wrapper">
        {% if message %}
            <p class="error"> {{message}}</p>
        {% endif %}

        <form id="form" method="post">
            <input type="text" name="username" placeholder="Username" id="username" class="form-control" onchange="validation()" required/>
            <span id="error_username"> </span>
            <input type="password" name="password" placeholder="Password" id="password" class="form-control" required/>
            <input type="submit" value="Submit" class="btn" id="submitButton"/>
        </form>
    </div>
</body>
</html>
