<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Portfolio!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="/static/index.js"></script>

</head>
<body>
    <div id="top">
        <h1>Hello world!</h1>
        {%for key, value in links.items()%}
            <a href="{{value}}">{{key}}</a>
        {%endfor%}
        
    </div>
    <div>
        <h3>These are all the people I know</h3>
        <form method="post">
            <input name="firstName" placeholder="First Name"/>
            <input name="lastName" placeholder="Last Name"/>
            <input type="number" name="age" placeholder="Age"/>
            <input type="submit" value="Submit" />
        </form>
        <div id="peopleList">
            {%for value in people%}
            <ul>
                {%for attribute in value%}
                <li>{{attribute}}</li>
                {%endfor%}
                <!-- <input id="removeButton" type="button" onclick="removeEntry()" data-id="{{value[0]}}" value="Remove"/> -->
            </ul>
            {%endfor%}
        </div>
    </div>
</body>
</html>
